@model Myapp.Models.employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom_Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom_Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matricule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matricule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom_Groupe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom_Groupe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nr_Groupe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nr_Groupe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Technicien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Technicien)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Nr_Personne">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
